# APSSDC Internship

# Python Basics

# Variable
    - To store a value
    - To change a value
    Syntax:
        variablename = value

In [1]:
w = 78
w

78

In [2]:
h = 45.015
h

45.015

In [3]:
h
w

78

In [4]:
w
h

45.015

In [7]:
h,w

(45.015, 78)

In [8]:
w,h

(78, 45.015)

In [9]:
h,w
w,h

(78, 45.015)

## Data Types:
    - integer => Only numeric values
    - float => numeric and decimal values
    - string => enclosed with ' or "
    - boolean => True or False
    - complex => real and imaginary
    - none => None
    - Data Structures Like [List,Tuple,Set and Dictionary]

## Variable Assignments:
    - single variable to single value
    - n number of variables to n number of values
    - n number of variables to single values

In [10]:
a = '45'
b = 'Prasad'
a,b

('45', 'Prasad')

In [11]:
z,v,b,n = 12.015,86,'89.012',True
z,v,b,n

(12.015, 86, '89.012', True)

In [12]:
z,v,b = 12.015,86,'89.012',True
z,v,b

ValueError: too many values to unpack (expected 3)

In [13]:
z,v,b,n,w = 12.015,86,'89.012',True
z,v,b,n,w

ValueError: not enough values to unpack (expected 5, got 4)

In [14]:
t = y = p = d = 500
t,y,p,d

(500, 500, 500, 500)

## Type:
    - To know the data type of a value
    Syntax:
        type(variablename)

In [16]:
x = '78'
x,type(x)

('78', str)

In [17]:
type(x)

str

In [18]:
g = '8563'
g

'8563'

In [20]:
print(g,type(g))

8563 <class 'str'>

In [22]:
a,b,c,d,e,f = 45,865.00,'Likitha',4+5j,None,False
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))
print(e,type(e))
print(f,type(f))

45 <class 'int'>
865.0 <class 'float'>
Likitha <class 'str'>
(4+5j) <class 'complex'>
None <class 'NoneType'>
False <class 'bool'>

## Input Formatting:
    - It displays an info to a user
    - It reads an input from a user
    - By default it stores a string data type value
    Syntax:
        variablename = input("info to a user")

In [7]:
n = input("Enter a value: ")
print(n,type(n))

Enter a value: 4+34j
4+34j <class 'str'>

In [2]:
x = 10
x

10

In [3]:
x

10

In [8]:
n,m = input("Enter a value: "),input("Enter b value: ")
print(n,type(n),m,type(m))

Enter a value: 78
Enter b value: 56
78 <class 'str'> 56 <class 'str'>

```
Input:
    Enter a value: 2
    Enter b value: 6

Output:
    Entered values are 2 and 6
```

In [10]:
n,m = input("Enter a value: "),input("Enter b value: ")
print("Entered values are",n,"and",m)
print("Entered values are "+n+" and "+m)

Enter a value: 2
Enter b value: 6
Entered values are 2 and 6
Entered values are 2 and 6

## Output Formatting:
    - , +
    - % format specifier
    - .format
    - f
    https://pyformat.info/ for reference

In [11]:
n,m = input("Enter a value: "),input("Enter b value: ")
print("Entered values are",n,"and",m)
print("Entered values are %s and %s"%(n,m))
print("Entered values are {} and {}".format(n,m))
print("Entered values are {1} and {0}".format(n,m))
print(f"Entered values are {n} and {m}")

Enter a value: 5
Enter b value: 8
Entered values are 5 and 8
Entered values are 5 and 8
Entered values are 5 and 8
Entered values are 8 and 5
Entered values are 5 and 8