## Dictionary:
    - It can be represented as "{}" empty{} => dictionary
    - It stores data in key and value pair format
    - It stores all data type values
    - It allows duplicate values but not for keys
    - It can be typecasted as dict()
    - It changes a value 
    - Slicing can be done for values but not for keys

In [1]:
b = {'student name':['Kiran','Pooja','Lalitha','Somu'],'age':45}
print(b,type(b))

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45} <class 'dict'>

In [3]:
for i in range(len(b)):
    print(b[i],type(b[i]))

KeyError: 0

In [4]:
for i in b:
    print(i,type(i))

student name <class 'str'>
age <class 'str'>

In [5]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [8]:
print(b.items())
print(b.keys())
print(b.values())

dict_items([('student name', ['Kiran', 'Pooja', 'Lalitha', 'Somu']), ('age', 45)])
dict_keys(['student name', 'age'])
dict_values([['Kiran', 'Pooja', 'Lalitha', 'Somu'], 45])

In [12]:
for i in b.items():
    print(i,type(i))

('student name', ['Kiran', 'Pooja', 'Lalitha', 'Somu']) <class 'tuple'>
('age', 45) <class 'tuple'>

In [14]:
print(b)
print(b['age'])
print(b['student name'])

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45}
45
['Kiran', 'Pooja', 'Lalitha', 'Somu']

In [15]:
print(b)
print(b.get('student name'))
print(b.get('age'))

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45}
['Kiran', 'Pooja', 'Lalitha', 'Somu']
45

In [16]:
print(b)
b.setdefault('Branch')
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45}
{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': None}

In [20]:
print(b)
b.setdefault('Address','VJD')
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': None}
{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': None, 'Address': 'VJD'}

In [21]:
print(b)
b['Branch'] = 'CSE'
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': None, 'Address': 'VJD'}
{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': 'CSE', 'Address': 'VJD'}

In [22]:
print(b)
b.update({'Address':'Gnt'})
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': 'CSE', 'Address': 'VJD'}
{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': 'CSE', 'Address': 'Gnt'}

In [23]:
print(b)
b.pop()
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': 'CSE', 'Address': 'Gnt'}

TypeError: pop expected at least 1 argument, got 0

In [24]:
print(b)
b.pop('age')
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'age': 45, 'Branch': 'CSE', 'Address': 'Gnt'}
{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'Branch': 'CSE', 'Address': 'Gnt'}

In [25]:
print(b)
b.popitem()
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'Branch': 'CSE', 'Address': 'Gnt'}
{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'Branch': 'CSE'}

In [26]:
print(b)
b.popitem('student name')
print(b)

{'student name': ['Kiran', 'Pooja', 'Lalitha', 'Somu'], 'Branch': 'CSE'}

TypeError: dict.popitem() takes no arguments (1 given)

In [27]:
x = ['Student Name','Roll Number']
v = {}
v = v.fromkeys(x)
print(v)

{'Student Name': None, 'Roll Number': None}

## Set:
    - It can be represented as "{}" with a single value in it
    - It allows all data type values
    - It doesnt allows duplicate values
    - It can be typecasted as set()
    - Slicing cant be done because of no index
    - It stores data in unorder format
    - It changes a value

In [28]:
w = {}
v = {'45'}
print(w,type(w))
print(v,type(v))

{} <class 'dict'>
{'45'} <class 'set'>

In [29]:
x = []
b = list()
print(x,type(x))
print(b,type(b))

[] <class 'list'>
[] <class 'list'>

In [32]:
h = {12,56.0121,'Ganesh',True,None,90+6j,12,12,12,'1.023'}
print(h,type(h))

{True, 12, 56.0121, '1.023', (90+6j), None, 'Ganesh'} <class 'set'>

In [33]:
h

{(90+6j), '1.023', 12, 56.0121, 'Ganesh', None, True}

In [34]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [35]:
a = {5,78,56,89,102}
b = {5,78,450,7895,560}
print(a)
print(b)
print(a.union(b))
print(b.union(a))

{5, 102, 56, 89, 78}
{560, 450, 5, 7895, 78}
{450, 5, 102, 78, 560, 7895, 56, 89}
{450, 5, 102, 78, 560, 7895, 56, 89}

In [36]:
print(a)
print(b)
print(a.intersection(b))
print(b.intersection(a))

{5, 102, 56, 89, 78}
{560, 450, 5, 7895, 78}
{5, 78}
{5, 78}

In [37]:
print(a)
print(b)
print(a.difference(b))
print(b.difference(a))

{5, 102, 56, 89, 78}
{560, 450, 5, 7895, 78}
{56, 89, 102}
{560, 450, 7895}

In [38]:
print(a)
print(b)
print(a.symmetric_difference(b))
print(b.symmetric_difference(a))

{5, 102, 56, 89, 78}
{560, 450, 5, 7895, 78}
{560, 450, 102, 7895, 56, 89}
{560, 450, 102, 7895, 56, 89}

In [39]:
print(a)
a.add(45)
print(a)

{5, 102, 56, 89, 78}
{5, 102, 56, 89, 45, 78}

In [40]:
print(a)
a.pop()
print(a)

{5, 102, 56, 89, 45, 78}
{102, 56, 89, 45, 78}

In [41]:
print(a)
a.pop(78)
print()

{102, 56, 89, 45, 78}

TypeError: set.pop() takes no arguments (1 given)

In [42]:
print(a)
a.pop(178)
print()

{102, 56, 89, 45, 78}

TypeError: set.pop() takes no arguments (1 given)

In [43]:
print(a)
a.remove(89)
print(a)

{102, 56, 89, 45, 78}
{102, 56, 45, 78}

In [44]:
print(a)
a.remove(-500)
print(a)

{102, 56, 45, 78}

KeyError: -500

In [45]:
print(a)
print(b)

{102, 56, 45, 78}
{560, 450, 5, 7895, 78}

In [46]:
print(a)
print(b)
a.intersection_update(b)
print(a)
print(b)

{102, 56, 45, 78}
{560, 450, 5, 7895, 78}
{78}
{560, 450, 5, 7895, 78}

In [47]:
p = {45,89,45,3,2}
q = {12,89,3,450,78}
print(p)
print(q)
q.difference_update(p)
print(p)
print(q)

{89, 2, 3, 45}
{450, 3, 89, 12, 78}
{89, 2, 3, 45}
{450, 12, 78}

In [48]:
z = {5,8,6,5,7}
y = {5,89,63,8}
print(z)
print(y)
z.symmetric_difference_update(y)
print(z)
print(y)

{8, 5, 6, 7}
{8, 89, 5, 63}
{6, 7, 89, 63}
{8, 89, 5, 63}

In [49]:
print(y)
y.update(48,56)
print(y)

{8, 89, 5, 63}

TypeError: 'int' object is not iterable

In [50]:
print(y)
y.update([48,56])
print(y)

{8, 89, 5, 63}
{5, 8, 48, 56, 89, 63}

In [51]:
print(y)
y.update((480,5))
print(y)

{5, 8, 48, 56, 89, 63}
{480, 5, 8, 48, 56, 89, 63}

In [52]:
print(y)
y.discard(5)
print(y)

{480, 5, 8, 48, 56, 89, 63}
{480, 8, 48, 56, 89, 63}

In [53]:
print(y)
y.discard(480)
print(y)

{480, 8, 48, 56, 89, 63}
{8, 48, 56, 89, 63}

In [54]:
print(y)
y.discard(89,63)
print(y)

{8, 48, 56, 89, 63}

TypeError: set.discard() takes exactly one argument (2 given)

## Strings:
    - It can be represented as ' or "
    - It changes a values
    - It can be typecasted as str()
    - Slicing can be done because of index
    - It allows all data types
    - It stores data in order format

In [55]:
e = "This is an example for a string"
print(e,type(e))

This is an example for a string <class 'str'>

In [58]:
print(e[6])
print(e[3:8])
print(e[4:11:1])
print(e[::-1])

s
s is
 is an
gnirts a rof elpmaxe na si sihT

In [61]:
for i in range(len(e)):
    print(e[i],end=" ")

T h i s   i s   a n   e x a m p l e   f o r   a   s t r i n g

In [62]:
for i in e:
    print(i,end=" ")

T h i s   i s   a n   e x a m p l e   f o r   a   s t r i n g

In [63]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [65]:
p = "ThIs Is a String PrOGraM"
print(p.casefold())
print(p.capitalize())
print(p.title())
print(p.swapcase())
print(p.upper())
print(p.lower())

this is a string program
This is a string program
This Is A String Program
tHiS iS A sTRING pRogRAm
THIS IS A STRING PROGRAM
this is a string program

In [66]:
k = "   THis is an Example For String"
w = "SamPle Program On Data Structures    "
print(k)
print(w)

   THis is an Example For String
SamPle Program On Data Structures

In [67]:
print(k)
print(w)
print(k.strip())
print(w.strip())

   THis is an Example For String
SamPle Program On Data Structures
THis is an Example For String
SamPle Program On Data Structures

In [69]:
print(k)
print(w)
print(k.lstrip())
print(w.rstrip())

   THis is an Example For String
SamPle Program On Data Structures
THis is an Example For String
SamPle Program On Data Structures

In [87]:
print(k)
print(w)
print(k.ljust(50))
print(w.rjust(50))
print(k.rjust(50))
print(w.ljust(50))
print(k.center(80))
print(w.center(80))
print(k.zfill(50))
print(w.zfill(50))

   THis is an Example For String
SamPle Program On Data Structures
   THis is an Example For String
             SamPle Program On Data Structures
                     THis is an Example For String
SamPle Program On Data Structures
                           THis is an Example For String
                     SamPle Program On Data Structures
000000000000000000   THis is an Example For String
0000000000000SamPle Program On Data Structures

In [83]:
print(k)
print(k.find('i'))
print(k.find('z'))
print(k.rfind('i'))

   THis is an Example For String
5
-1
29

In [85]:
print(k)
print(k.index('a'))
# print(k.index('y'))
print(k.rindex('i'))

   THis is an Example For String
11
29

In [91]:
z = "There is an Apple Near to you"
print(z)
print(z.split())
print(z.split('e'))
x = "$".join(z)
print(x)

There is an Apple Near to you
['There', 'is', 'an', 'Apple', 'Near', 'to', 'you']
['Th', 'r', ' is an Appl', ' N', 'ar to you']
T$h$e$r$e$ $i$s$ $a$n$ $A$p$p$l$e$ $N$e$a$r$ $t$o$ $y$o$u

In [97]:
print(x,id(x))
x = x.replace('-','=')
print(x,id(x))

T-h-e-r-e- -i-s- -a-n- -A-p-p-l-e- -N-e-a-r- -t-o- -y-o-u 2676358342224
T=h=e=r=e= =i=s= =a=n= =A=p=p=l=e= =N=e=a=r= =t=o= =y=o=u 2676358343568

In [100]:
f = ['Tarun','Teja','Prasad','Sampled']
w = []
x = []
for i in f:
    if i.startswith('T'):
        w.append(i)
    elif i.endswith('d'):
        x.append(i)
    else:
        pass

print(w)
print(x)

['Tarun', 'Teja']
['Prasad', 'Sampled']