## Variable Length Argument

In [2]:
def employee(en,*y):
    print(en,type(en))
    print(y,type(y))
    return

employee(5,"prasad","HD34",25000,45)

5 <class 'int'>
('prasad', 'HD34', 25000, 45) <class 'tuple'>

In [3]:
def employee(p,*m):
    print(p,type(p))
    print(m,type(m))
    return

n = input("Enter Employee Id: ")
v = input().split()
print(n,type(n))
print(v,type(v))
employee(n,v)

Enter Employee Id: PY45
Kumar 25000 36
PY45 <class 'str'>
['Kumar', '25000', '36'] <class 'list'>
PY45 <class 'str'>
(['Kumar', '25000', '36'],) <class 'tuple'>

In [4]:
def employee(p,*m):
    print(p,type(p))
    print(m,type(m))
    return

n = input("Enter Employee Id: ")
v = input().split()
print(n,type(n))
print(v,type(v))
employee(n,tuple(v))

Enter Employee Id: LT78
Taun
LT78 <class 'str'>
['Taun'] <class 'list'>
LT78 <class 'str'>
(('Taun',),) <class 'tuple'>

In [5]:
def employee(q,*d):
    print("==========>Employee Details<===========")
    print(f"Employee Name: {d[0]}")
    print(f"Employee Id: {q}")
    print(f"Employee Age: {d[2]}")
    print(f"Employee Salary: {d[1]}")
    return

ed = input("Enter employee id: ")
en = input("Enter employee name: ")
es = input("Enter employee salary: ")
ea = int(input("Enter employee age: "))
employee(ed,en,es,ea)

Enter employee id: KY234
Enter employee name: Manoj
Enter employee salary: 26000
Enter employee age: 30
==========>Employee Details<===========
Employee Name: Manoj
Employee Id: KY234
Employee Age: 30
Employee Salary: 26000

In [9]:
def studentmarks(*mk):
    print(f"Total: {sum(mk)}")
    return

s1 = int(input("Enter Subject1 marks: "))
s2 = int(input("Enter Subject2 marks: "))
s3 = int(input("Enter Subject3 marks: "))
studentmarks(s1,s2,s3)

Enter Subject1 marks: 56
Enter Subject2 marks: 78
Enter Subject3 marks: 45
Total: 179

In [8]:
c = (1,8,9)
print(c,type(c))
print(sum(c))

(1, 8, 9) <class 'tuple'>
18

In [11]:
def student(**s):
    print(s,type(s))
    return

student(sname="Kishore",sbranch='ECE')

{'sname': 'Kishore', 'sbranch': 'ECE'} <class 'dict'>

In [2]:
def student(**s):
    print(s,type(s))
    print("="*30+"Student Details"+"="*30)
    print(f"Student id: {s['sid']}")
    print(f"Student Name: {s['sname']}")
    print(f"Student Marks: {s['smarks']}")
    return

n = input("Enter a name: ")
m = input("Enter Marks: ").split()
z = []
for i in m:
    z.append(int(i))
d = input("Enter Your id: ")
student(sid=d,sname=n,smarks=z)

Enter a name: Lokesh
Enter Marks: 45 78 98 62 45
Enter Your id: JY3344
{'sid': 'JY3344', 'sname': 'Lokesh', 'smarks': [45, 78, 98, 62, 45]} <class 'dict'>
==============================Student Details==============================
Student id: JY3344
Student Name: Lokesh
Student Marks: [45, 78, 98, 62, 45]

In [14]:
print("="*30)

==============================

In [3]:
def student(*h,**s):
    print(h,type(h))
    print(s,type(s))
    return

student(45,89,45,78,sname="Kishore",sbranch='ECE')

(45, 89, 45, 78) <class 'tuple'>
{'sname': 'Kishore', 'sbranch': 'ECE'} <class 'dict'>

In [4]:
def student(*h,**s):
    print(h,type(h))
    print(s,type(s))
    return

student(45,89,45,78,sname="Kishore",sbranch='ECE',"Guntur")

SyntaxError: positional argument follows keyword argument (3167752482.py, line 6)

In [5]:
def student(*h,**s,ad="Krishna"):
    print(h,type(h))
    print(s,type(s))
    return

student(45,89,45,78,sname="Kishore",sbranch='ECE')

SyntaxError: invalid syntax (189808390.py, line 1)

In [7]:
def student(*h,ad="Krishna",**s):
    print(h,type(h))
    print(s,type(s))
    print(ad,type(ad))
    return

student(45,89,45,78,sname="Kishore",sbranch='ECE')

(45, 89, 45, 78) <class 'tuple'>
{'sname': 'Kishore', 'sbranch': 'ECE'} <class 'dict'>
Krishna <class 'str'>

In [8]:
def student(ad,*h,**s):
    print(h,type(h))
    print(s,type(s))
    print(ad,type(ad))
    return

student("Nandyal",45,89,45,78,sname="Kishore",sbranch='ECE')

(45, 89, 45, 78) <class 'tuple'>
{'sname': 'Kishore', 'sbranch': 'ECE'} <class 'dict'>
Nandyal <class 'str'>

In [9]:
def student(ad,*h,**s):
    print(h,type(h))
    print(s,type(s))
    print(ad,type(ad))
    return

student(ea=20,"Nandyal",45,89,45,78,sname="Kishore",sbranch='ECE')

SyntaxError: positional argument follows keyword argument (3136514539.py, line 7)

# Task 
    - Try to use functions types
```
1.Create Contact
    name:
    mobilenumber:
    email:
    
2.Display contact List
    ============ Contact List =================
    |Name        |Mobile      |Email          |
    ===========================================
    |Somu        |8978454556  |somu@gmail.com |
    -------------------------------------------
    |Tilak       |7845785466  |tilak@gmail.com|
    ===========================================

3. Update contact
    Enter Mobile Number: 6859878854
    6859878854 Contact doesnt Exists
    
    Enter Mobile Number: 8978454556
        1.Name
        2.Number
        3.Email
        4.Exit
        Enter Your choice: 1
        Enter New name: Lokesh
        Lokesh is updated to your contact instead of Somu
        Enter Your Choice: 4
        Exit

4. Delete Contact
    Enter Mobile Number: 6859878854
    6859878854 Contact doesnt Exists
    
    Enter Mobile Number: 8978454556
    Your contact with name: Lokesh mobile number:8978454556 is deleted in your contact
```