In [1]:
n = int(input("Enter a range: "))
for i in range(n):
    print(i,end=" ")

Enter a range: 5
0 1 2 3 4

In [2]:
n = int(input("Enter a range: "))
for i in range(n):
    print(n-i-1,end=" ")

Enter a range: 5
4 3 2 1 0

In [5]:
s = int(input("Enter start range: "))
e = int(input("Enter ending range: "))
for i in range(s,e):
    print(i,end=" ")

Enter start range: 25
Enter ending range: 35
25 26 27 28 29 30 31 32 33 34

In [11]:
st = int(input("Enter start range: "))
en = int(input("Enter ending range: "))
y = int(input("Enter step value: "))
for i in range(st,en,y):
    print(i,end=" ")

Enter start range: -30
Enter ending range: -10
Enter step value: -5

```
Input:
    10
    15

Output:
    50
    11
    12
    13
    14
```

In [14]:
s,e = int(input()),int(input())
for i in range(s,e):
    if i%5==0:
        print(i*5)
    else:
        print(i)

10
15
50
11
12
13
14

## while:
    Syntax:
        initialization
        while condition:
            //statements
            incre/decr

In [1]:
n = int(input("Enter start range: "))
k = 0
while k!=n:
    print(k,end=" ")
    k += 1

Enter start range: 10
0 1 2 3 4 5 6 7 8 9

In [3]:
n = int(input("Enter start range: "))
while n!=0:
    n -= 1
    print(n,end=" ")

Enter start range: 10
9 8 7 6 5 4 3 2 1 0

## Jumping Statements:
    - continue => It skips a value 
    - break => It exits from a loop
    - pass => It skips but for further enhancements we can develop the logic
    - return => It returns a single or n number of values

In [12]:
n = int(input("Enter a range: "))
for i in range(1,n):
    if i == 5 or i == 7 or i == 10:
        continue
    else:
        print(i,end=" ")

Enter a range: 20
1 2 3 4 6 8 9 11 12 13 14 15 16 17 18 19

In [14]:
n = int(input("Enter a range: "))
for i in range(1,n):
    if i==2:
        break
    else:
        print(i,end=" ")

Enter a range: 100
1

In [16]:
n = int(input("Enter a range: "))
for i in range(1,n):
    if i == 5:
        pass
    else:
        print(i,end=" ")

Enter a range: 20
1 2 3 4 6 7 8 9 10 11 12 13 14 15 16 17 18 19

## Inner Loop or Neseted Loop
    - Loop with a Loop

In [21]:
n = int(input("Enter a row value: "))
m = int(input("Enter a column value: "))
for i in range(n):
    for j in range(m):
        print(f"{i+1}{j+1}",end=" ")
    print()

Enter a row value: 3
Enter a column value: 5
11 12 13 14 15
21 22 23 24 25
31 32 33 34 35

In [23]:
n = int(input("Enter a range: "))
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

Enter a range: 7
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *
* * * * * * *

In [31]:
n = int(input("Enter a range: "))
for i in range(n):
    print(f"{i:02}",end=" ")

Enter a range: 10
00 01 02 03 04 05 06 07 08 09

In [42]:
v = 1
for i in range(5):
    for j in range(7):
        if v>=32:
            break
        else:
            if j == 2:
                print("||",end=" ")
            elif i == 1:
                print("&&",end=" ")
            elif v%3==0 and v<15:
                print("[]",end=" ")
            elif v%2==0:
                print("**",end=" ")
            elif v>=15:
                print("()",end=" ")
            else:
                print("{}",end=" ")
        v+=1
    print()

{} ** || ** {} [] {}
&& && || && && && &&
() ** || ** () ** ()
** () || () ** () **
() ** ||

## Data Structures:
    - To oraganise the dat in order or unorder format
    - List
    - Tuple
    - Set
    - String
    - Dictionary

## List:
    - It can be represented as "[]" and values can be splitted with ,
    - It stores all data type values
    - It stores data in order format
    - It can changes the values
    - It can be typecasted as list()
    - Slicing can be done because of index values
    - It allows duplicate values

In [44]:
k = [12,56.012,'Kavitha',False,7+9j,None,12,12,12]
print(k,type(k))

[12, 56.012, 'Kavitha', False, (7+9j), None, 12, 12, 12] <class 'list'>

In [45]:
a = 10
print(a,type(a))

10 <class 'int'>

In [48]:
for i in range(len(k)):
    print(k[i],type(k[i]))

12 <class 'int'>
56.012 <class 'float'>
Kavitha <class 'str'>
False <class 'bool'>
(7+9j) <class 'complex'>
None <class 'NoneType'>
12 <class 'int'>
12 <class 'int'>
12 <class 'int'>

In [49]:
for i in k:
    print(i,type(i))

12 <class 'int'>
56.012 <class 'float'>
Kavitha <class 'str'>
False <class 'bool'>
(7+9j) <class 'complex'>
None <class 'NoneType'>
12 <class 'int'>
12 <class 'int'>
12 <class 'int'>