## With returntype and without arguments:
    - reading => function
    - printing => main
    - logic => function

In [4]:
def numberdigit():
    n,digitcount = int(input("Enter a number: ")),0
    print(f"Given number {n} and its digit count is: ",end=" ")
    while n!=0:
        digitcount += 1
        n //= 10
    return digitcount

print(f"{numberdigit()}")

Enter a number: 45789
Given number 45789 and its digit count is:  5

In [9]:
m,d = int(input()),0
while m!=0:
    d += 1
    print(d,m)
    m //= 10

20250
1 20250
2 2025
3 202
4 20
5 2

In [12]:
k = input()
h = str(k)

00580
00580

In [18]:
h = "00580"
k = []
for i in h:
    k.append(int(i))
print(k,len(k))

[0, 0, 5, 8, 0] 5

## Without returntype and with arguments:
    - reading => Main
    - printing => function
    - logic => function

In [25]:
def sumofn(k):
    d = 0
    for i in range(k+1):
        d+=i
    print(f"Given {k} natural numbers sum is: {d}")
    return

s = int(input("Enter a number: "))
sumofn(s)

Enter a number: 10
Given 10 natural numbers sum is: 55

## without returntype and without arguments:
    - reading => function
    - printing => function
    - logic => function

In [31]:
def nevenprint():
    k = input().split()
    print("Even numbers are: ",end=" ")
    for i in k:
        if int(i)%2==0:
            print(i,end=" ")
        else:
            continue
    return

nevenprint()

7 8 9 4 5 8 6 9 5 4 56  2 5 3 1 4 5 0 0 0
Even numbers are:  8 4 8 6 4 56 2 4 0 0 0

## Function Argument Types:
    - default
    - keyword
    - required or positional
    - variable-length
        - orbitary keyword 
        - orbitary positional

## Default argument:

In [35]:
def student(r,n,b,college="VIEW"):
    print(f"your roll number is: {r}")
    print(f"your name is: {n}")
    print(f"your branch is: {b}")
    print(f"your college is: {college}")
    return

rollnumber = input("Enter your rollnumber: ")
sname = input("Enter your name: ")
branch = input("Enter your branch: ")
student(rollnumber,sname,branch)

Enter your rollnumber: 22AK1A530
Enter your name: Likitha
Enter your branch: CSE
your roll number is: 22AK1A530
your name is: Likitha
your branch is: CSE
your college is: VIEW

In [36]:
def student(r,n,b="CSE",college="VIEW"):
    print(f"your roll number is: {r}")
    print(f"your name is: {n}")
    print(f"your branch is: {b}")
    print(f"your college is: {college}")
    return

rollnumber = input("Enter your rollnumber: ")
sname = input("Enter your name: ")
student(rollnumber,sname)

Enter your rollnumber: 21AK1A589
Enter your name: Manoj
your roll number is: 21AK1A589
your name is: Manoj
your branch is: CSE
your college is: VIEW

In [37]:
def student(r="21AK1A566",n,b="CSE",college="VIEW"):
    print(f"your roll number is: {r}")
    print(f"your name is: {n}")
    print(f"your branch is: {b}")
    print(f"your college is: {college}")
    return

rollnumber = input("Enter your rollnumber: ")
sname = input("Enter your name: ")
student(rollnumber,sname)

SyntaxError: non-default argument follows default argument (3523878751.py, line 1)

In [38]:
def student(r,n,b="CSE",college="VIEW"):
    print(f"your roll number is: {r}")
    print(f"your name is: {n}")
    print(f"your branch is: {b}")
    print(f"your college is: {college}")
    return

rollnumber = input("Enter your rollnumber: ")
sname = input("Enter your name: ")
branch = input("Enter your branch: ")
student(rollnumber,sname,branch)

Enter your rollnumber: 22AK1A456
Enter your name: Ganesh
Enter your branch: ECE
your roll number is: 22AK1A456
your name is: Ganesh
your branch is: ECE
your college is: VIEW

## Required or Positional Argument

In [39]:
def employee(eid,en):
    print(f"Employee id is: {eid}")
    print(f"Employee name is: {en}")
    return

empid = input("Enter Yourid: ")
ename = input("Enter your name: ")
employee(empid,ename)

Enter Yourid: A45
Enter your name: Rajesh
Employee id is: A45
Employee name is: Rajesh

In [40]:
def employee(eid,en,esal):
    print(f"Employee id is: {eid}")
    print(f"Employee name is: {en}")
    print(f"Employee Salary is: {esal}")
    return

empid = input("Enter Yourid: ")
ename = input("Enter your name: ")
employee(empid,ename)

Enter Yourid: ER78
Enter your name: Arun

TypeError: employee() missing 1 required positional argument: 'esal'

In [41]:
def employee(eid):
    print(f"Employee id is: {eid}")
    return

empid = input("Enter Yourid: ")
ename = input("Enter your name: ")
employee(empid,ename)

Enter Yourid: TY45
Enter your name: Manjusha

TypeError: employee() takes 1 positional argument but 2 were given

In [42]:
def employee(eid,en,esal=4500):
    print(f"Employee id is: {eid}")
    print(f"Employee name is: {en}")
    print(f"Employee Salary is: {esal}")
    return

empid = input("Enter Yourid: ")
ename = input("Enter your name: ")
employee(empid,ename)

Enter Yourid: PT56
Enter your name: Tarun
Employee id is: PT56
Employee name is: Tarun
Employee Salary is: 4500

In [43]:
def employee(eid,en="Kiran"):
    print(f"Employee id is: {eid}")
    print(f"Employee Name is: {en}")
    return

empid = input("Enter Yourid: ")
ename = input("Enter your name: ")
employee(empid,ename)

Enter Yourid: KY89
Enter your name: Suresh
Employee id is: KY89
Employee Name is: Suresh

## Keyword Argument

In [45]:
def studentdetails(a,b,c):
    print(f"Student Name: {a}")
    print(f"Student Id: {b}")
    print(f"Student Age: {c}")
    return

stid = input("Enter Id: ")
stname = input("Enter Name: ")
sage = int(input("Enter Age: "))
studentdetails(b=stid,c=sage,a=stname)

Enter Id: K458
Enter Name: Sathish
Enter Age: 23
Student Name: Sathish
Student Id: K458
Student Age: 23

In [46]:
def studentdetails(a,b,c,k):
    print(f"Student Name: {a}")
    print(f"Student Id: {b}")
    print(f"Student Age: {c}")
    return

stid = input("Enter Id: ")
stname = input("Enter Name: ")
sage = int(input("Enter Age: "))
studentdetails(b=stid,c=sage,a=stname)

Enter Id: E45
Enter Name: Harish
Enter Age: 26

TypeError: studentdetails() missing 1 required positional argument: 'k'

In [48]:
def studentdetails(a,b,c,k):
    print(f"Student Name: {a}")
    print(f"Student Id: {b}")
    print(f"Student Age: {c}")
    return

stid = input("Enter Id: ")
stname = input("Enter Name: ")
sage = int(input("Enter Age: "))
adr = input("Enter Addresss: ")
studentdetails(b=stid,c=sage,a=stname,m=adr)

Enter Id: PU90
Enter Name: Eswar
Enter Age: 21
Enter AddresssVizag

TypeError: studentdetails() got an unexpected keyword argument 'm'

In [49]:
def studentdetails(a,b,c,k="Guntur"):
    print(f"Student Name: {a}")
    print(f"Student Id: {b}")
    print(f"Student Age: {c}")
    print(f"Student Address: {k}")
    return

stid = input("Enter Id: ")
stname = input("Enter Name: ")
sage = int(input("Enter Age: "))
studentdetails(b=stid,c=sage,a=stname)

Enter Id: KY56
Enter Name: Bharath
Enter Age: 16
Student Name: Bharath
Student Id: KY56
Student Age: 16
Student Address: Guntur